<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <title>个人简历</title>
    <style type="text/css">
    </style>
</head>
<body>
    <div id="img1">
        <div class="d1">
            <h1><a href="#">Personal CV</a></h1>
        </div>
        <div class="d2">
            <div>
                <div>
                    <h2>Hello</h2>
                    <h3>我叫xxx</h3>
                    <h4>21岁&nbsp;/&nbsp;男&nbsp;/&nbsp;汉&nbsp;/&nbsp;专科</h4>
                    <ul>
                        <li>
                            <ul>
                                <li><b>手机号</b></li>
                                <li><span>18535011492</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><b>地址</b></li>
                                <li><span>山西忻州繁峙县</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><b>邮箱</b></li>
                                <li><span>2629925922@qq.com</span></li>
                            </ul>
                        </li>
                        <li>
                            <ul>
                                <li><b>求职意向</b></li>
                                <li><span>web开发</span></li>
                            </ul>
                        </li>
                    </ul>
                </div>
        </div>
            <div>
                <img src="../static/images/gr.jpeg">
            </div>
    </div>
    </div>
    <div id="img2">
        <div class="d3">
            <h1>技能</h1>
            <div>
                <table>
                    <tbody>
                        <tr>
                            <td>熟悉office软件</td>
                            <td>熟练使用python</td>
                            <td>熟练使用scrapy爬虫框架</td>
                            <td>熟悉kali的使用，web跟系统渗透方面</td>
                        </tr>
                        <tr>
                            <td>熟练使用python的第三方库和常用标准库</td>
                            <td>熟练使用django框架跟flask框架</td>
                            <td>熟练python的rquest库，urlib对网页进行下载</td>
                            <td>熟悉python装饰器的使用</td>
                        </tr>
                        <tr>
                            <td>熟悉ajax技术，jquery，bootsrap，vue的使用</td>
                            <td>熟练使用html，css，javascript技术</td>
                            <td>熟悉redis非关系性数据库的操作</td>
                            <td>熟练pyecharts可视化库的使用</td>
                        </tr>
                        <tr>
                            <td>熟练linux命令</td>
                            <td>熟悉git的使用</td>
                            <td>熟悉xpath,re等正则表达式，可以对网页信息进行提取</td>
                            <td>熟练restful框架，进行API接口的编写</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div>
                    <div style="width: 80%"><p>HTML&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;CSS&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;JAVASCRIPT&nbsp;&nbsp;</p></div>
                </div>
                <div>
                    <div style="width: 90%"><p>PYTHON</p></div>
                </div>
                <div>
                    <div style="width: 75%"><p>DJANGO</p></div>
                </div>
                <div>
                    <div style="width: 62%"><p>DATABASE</p></div>
                </div>
                <div>
                    <div style="width: 78%"><p>LINUX</p></div>
                </div>
                <div>
                    <div style="width: 76%"><p>HRADWORE</p></div>
                </div>
            </div>
        </div>
    </div>
    <div id="img3">
        <h1>工作经历</h1>
        <div>
            <div>
                <img src="../static/images/gzjl1.jpg">
            </div>
            <div style="opacity: 0.7">
                <div>
                    <div style="margin-left: 0">
                        <ul class="ul1">
                            <li><h2>项目名称: </h2></li>
                            <li><h2>制梦空间</h2></li>
                        </ul>
                        <ul class="ul1">
                            <li><h4>开发环境: </h4></li>
                            <li><span>python + pycharm + mysql + redis + boostarp</span></li>
                        </ul>
                        <ul class="ul1">
                            <li><h4>项目描述: </h4></li>
                            <li><span>创作全新个性的博客系统，致力于传播最新的博文知识，实现信息的共享。主要模块有博文首页展示，博文发布，个人文章管理</span></li>
                        </ul>
                        <ul class="ul2">
                            <li style="margin-left: 0"><h4>技术要点: </h4></li>
                            <li><span>使用diango框架实现开发系统</span></li>
                            <li><span>jquery的 Ajax 异步请求数据</span></li>
                            <li><span>使用redis进行快速恶心请求拦截</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<div>
            <div style="width: 60%;background-color: #fff;opacity: 0.7">
                <div style="display: inline-block;position: absolute;width: 90%">
                    <div style="margin-left: 0">
                    </div>
                </div>
            </div>
            <div style="width: 20%;background-color: transparent">
                <img src="../static/images/gzjl2%20(1).jpeg">
            </div>
        </div>-->
        <div>
            <div>
                <img src="../static/images/gzjl3.jpeg">
            </div>
            <div style="opacity: 0.7">
                <div>
                    <div style="margin-left: 0">
                        <ul class="ul1">
                            <li><h2>项目名称: </h2></li>
                            <li><h2>房价信息爬取(爬虫)</h2></li>
                        </ul>
                        <ul class="ul1">
                            <li><h4>开发环境: </h4></li>
                            <li><span>python + pycharm + scrapy + pyecharts + mysql </span></li>
                        </ul>
                        <ul class="ul1">
                            <li><h4>项目描述: </h4></li>
                            <li><span>使用scrapy框架爬取我爱我家指定房源信息，根据业务需求，分析行业行情，将其数据可视化。</span></li>
                        </ul>
                        <ul class="ul2">
                            <li style="margin-left: 0"><h4>技术要点: </h4></li>
                            <li><span>使用scrapy框架进行对数据的处理爬取网页数据，并通过xpath，re正则对其页面进行分析。</span></li>
                            <li><span>通过中间件设置用户代理信息，并且使用ip代理池</span></li>
                            <li><span>使用mysql数据库对其数据进行存储</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="img4">
        <h1>自我评价</h1>
        <div class="d4">
            <div>
                <ol>
                <li>具有团队合作意识，能够尽快熟悉业务。</li>
                <li>待人诚恳，工作责任心强，细致有耐心。</li>
                <li>对工作认真负责，保持对学习的激情，有较强的学习能力。</li>
                <li>为人随和，可以很好的处理人际关系，容易跟人相处。</li>
            </ol>
            </div>
        </div>
    </div>
</body>
</html>

